<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bandit.blog.article.mapper.CategoryMapper">

    <resultMap id="categoryLabelMap" type="Category">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <collection property="labelList" javaType="list" ofType="Label">
            <id column="label_id" property="id" />
            <result column="label_name" property="name" />
        </collection>
    </resultMap>

    <select id="findAllNormalCategoryAndLabel" resultMap="categoryLabelMap">
        SELECT
            c.id,
            c.`name`,
            l.id label_id,
            l.`name` label_name
        FROM
            t_blog_category c
                LEFT JOIN t_blog_label l ON c.id = l.category_id
        WHERE
            c.`status` = 1
        ORDER BY
            c.sort
    </select>
</mapper>