<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bandit.blog.question.mapper.QuestionMapper">
    <select id="queryListByLabelId" resultType="Question">
        SELECT DISTINCT q.id,
                        q.user_id,
                        q.nick_name,
                        q.user_image,
                        q.title,
                        q.md_content,
                        q.html_content,
                        q.view_count,
                        q.thumhup,
                        q.reply,
                        q.`status`,
                        q.create_date,
                        q.update_date
        FROM t_blog_question q
                 LEFT JOIN t_blog_question_label ql
                           ON q.id = ql.question_id
        WHERE q.`status` != 0
	AND ql.label_id = #{labelId}
        ORDER BY
            q.update_date DESC
    </select>
</mapper>
